/* This file overrides some default styles of ReactTagInput component */
.react-tag-input {
  background: white;
  color: #1563ff;
  border: none;
}

.react-tag-input__tag {
  background: #e8f1ff;
}

.react-tag-input__tag:hover {
  background: #d0e0ff;
}

.react-tag-input__tag__remove {
  background: #d0e0ff;
}

.react-tag-input__tag__remove:hover {
  background: #abc6fd;
}

.react-tag-input__tag__remove:before, .react-tag-input__tag__remove:after {
  background: #1563ff; /* X icon in remove button */
}