body {
    padding: 0;
    margin: 0
}

#notfound {
    position: relative;
    height: 100vh
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.notfound {
    max-width: 710px;
    width: 100%;
    padding-left: 190px;
    line-height: 1.4
}

.notfound .notfound-404 {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px
}

.notfound .notfound-404 h1 {
    font-family: passion one, cursive;
    color: #1563ff;
    font-size: 150px;
    letter-spacing: 15.5px;
    margin: 0;
    font-weight: 900;
    position: fixed;
    left: 10%;
    top: 40%;
    transform: translate(-50%, -50%)
}

.notfound h2 {
    font-family: raleway, sans-serif;
    color: #292929;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-top: 0
}

.notfound p {
    font-family: raleway, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
    color: #333
}

.notfound button {
    font-family: raleway, sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #fff;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #292929;
    font-weight: 700;
    box-shadow: 0 4px 15px -5px rgba(0, 0, 0, .3);
    transition: .2s all
}

.notfound button:hover {
    color: #fff;
    background-color: #1563ff
}