name: Build and deploy frontend to AKS

on:
  push:
    branches:
    - master
    paths:
    - 'web/**'
    - 'infra/**'

env:
  REGISTRY_NAME: ${{ secrets.REGISTRY_NAME }}
  VERSION: ${{ github.sha }}
  FRONTEND_LB_PREFIX: ${{ secrets.FRONTEND_LB_PREFIX }}
  BACKEND_URL: ${{ secrets.BACKEND_URL }}
  FRONTEND_URL: ${{ secrets.FRONTEND_URL }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.REGISTRY_NAME }}
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}

    - name: Build and push image to ACR
      id: build-image
      run: |
        docker build . --build-arg KNOWZONE_BE_URI=${BACKEND_URL} --build-arg KNOWZONE_FE_URI=${FRONTEND_URL} -f infra/Dockerfile.web -t ${REGISTRY_NAME}/knowzone-frontend:${VERSION}
        docker push ${REGISTRY_NAME}/knowzone-frontend:${VERSION}

    - uses: azure/k8s-set-context@v1
      with:
        kubeconfig: ${{ secrets.KUBECONFIG }}
      id: login

    - name: Edit template manifests
      run: |
        envsubst < infra/k8s-manifests/azure/frontend-template.yaml > infra/k8s-manifests/azure/frontend.yaml

    - uses: azure/k8s-deploy@v1
      with:
        namespace: default
        manifests: |
          infra/k8s-manifests/azure/frontend.yaml